body {
    background-color: #000000;
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 240px;
}

.star-rating {
  padding: 20px;
}

.active {
  color: #fff700;
}

.inactive {
  color: #000000;
}
